#app > .photobar{
    width: 100%;
}

#app > .photobar > .photo-mid{
    max-width:1366px;
    margin: 0 auto;
    overflow: hidden;
}

#app > .photobar > .photo-mid > .photo-box{
    width: 25%;
    background-color: #ddd;
    float:left;
    position: relative;
}

#app > .photobar > .photo-mid > .photo-box >img{
    width:100%;
    height: auto;
}

#app > .photobar > .photo-mid > .photo-box > .hover-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

#app > .photobar > .photo-mid > .photo-box:hover > .hover-bg{
    opacity:1;
}
